@import '../../styles/variables.scss';
.list{
  &__item{
    min-width: 100px;
    text-align: center;
    background-color: $primary-color;
    border-radius: 80px;
    padding: 4px 0px;
  }
  &__link{
    color: rgba(0, 0, 0, 0.87);
    background-color: $primary-color;
    line-height: 26px;
    transition: all 0.3s ease;
    font-weight: 500;
    &:hover{
      background-color: $hover-button-color;
    }
  }
}