$primary-color: #F4E041;
$secondaty-color: #00BDD3;
$background-color: #F8F8F8;
$hover-button-color: #FFE302;
$active-button-color: #ffcc00;
$disabled-button-color:#B4B4B4;
$font-family: 'Nunito', sans-serif; 
$max-width-big: 1170px;
$max-width-desctop: 1054px;
$max-width-laptop: 798px;
$max-width-mobile: 390px;
