.card{
  // max-width: 370px;
  &__wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
  }
  &__box-img{
    max-width: 70px;
    margin-bottom: 20px;
  }
  &__image{
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    
  }
  &__title{
    margin-bottom: 20px;
  }
  &__link{
    color: #000;
    position: relative;
    transition: all 0.3s ease;
  }
  &__title, &__position, &__link{
    line-height: 26px;
  }
  &__link:first-of-type{
    z-index: 10;
  }
  &__link:last-of-type{
    z-index: 0;
  }
  &__link:first-of-type::before, 
  &__link:last-of-type::before{
    content: attr(data-content);
    position: absolute;
    bottom: -36px;
    left: 60px;
    color: #fff;
    background: rgba(0, 0, 0, 0.87);
    border-radius: 4px;
    padding: 3px 16px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  &__link:first-of-type:hover::before, 
  &__link:last-of-type:hover::before{
    visibility: visible;
    opacity: 1;
  }
}
